<!DOCTYPE html>
<html lang="en" ng-app="Checkr" manifest="cache.manifest">
<head>
  <title>Checkr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="apple-touch-icon" href="/img/logo.png"/>
  <script src="/3p/angular.js"></script>
  <script src="/3p/underscore.js"></script>
  <script src="/main.js"></script>
</head>
  <body>
    <div ng-controller="AppController" class="container">
      <!-- Header -->
      <div class="header span12">
        <h1 id="logo">Checkr</h1>
      </div>
      <!-- Main -->
      <div id="content" class="span12">
        <section id="entry">
          <h4>Payers</h4>
          <ul id="actions">
            <li id="add-payer" ng-click="addPayer()"><i class="icon-plus-sign"></i></li>
            <li id="clear-payers" ng-click="clearPayers()"><i class="icon-trash"></i></li>
          </ul>
          <ul id="payers">
            <li ng-repeat="payer in payers" class="span12 payer">
              <input type="text" class="payer-name" placeholder="Name" ng-model="payer.name"></input>
              <input type="text" pattern="[0-9]*(\.[0-9]{1,2}|$)" class="payer-pretax-due" placeholder="Pre-tax due" ng-model="payer.pretaxDue"></input>
            </li>
          </ul>
          <span ng-show="payers.length == 0" id="payer-placeholder">Click on the + sign to add a payer</span>
          <div id="tax">
            <h4>Tax</h4>
            <input type="text" pattern="[0-9]*(\.[0-9]{1,3}|$)" ng-model="tax"></input>
          </div>
          <button class="btn btn-inverse" ng-click="calculate()">Calculate</button>
        </section>
        <section id="totals" ng-show="payersDues.length > 0" class="span12">
          <h4>Totals</h4>
          <table class="payer-totals table table-condensed span6">
            <thead>
              <th>Name</th>
              <th>Total due</th>
            </thead>
            <tr ng-repeat="dues in payersDues" class="payer-due">
              <td>{{dues.name}}</td>
              <td>${{dues.amount}}</td>
            </tr>
          </table>
        </section>
      </div> <!-- Main -->
    </div> <!-- AppController -->
  </body>
</html>
